{% extends "material/base.html" %}
{% import "material/utils.html" as util %}
{% import "material/wtf.html" as wtf %}

{% block title %}Crossrads!{% endblock %}
{% block content %}
<div class="container">
        <div class="row">
                <div class="col s12 m6">
                    {{ util.card('Crossrads!', wtf.quick_form(form) )}}
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                            <center><li>{{ message }}</li></center>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}
                </div>
                <div class="col s12 m6">
                    {{crmap.js}}
                    {{crmap.html}}
                </div>
        </div>
</div>
{% endblock %}
